/*

dark orange
rgba(214, 121, 7, 1);

brand orange
rgba(247,148,29,1);

light orange
rgba(246, 214, 113, 1);


grey 
rgba(87,87,81,1);
*/

@font-face {
font-family: 'Lato';
src: url('../fonts/Lato-Regular.ttf');
font-weight: normal;
font-style: normal;
}
@font-face {
font-family: 'LatoLight';
src: url('../fonts/Lato-Light.ttf');
font-weight: lighter;
font-style: normal;
}
@font-face {
font-family: 'Lato';
src: url('../fonts/Lato-Italic.ttf');
font-weight: normal;
font-style: italic;
 }
@font-face {
font-family: 'Lato';
src: url('../fonts/Lato-Bold.ttf');
font-weight: bold;
font-style: normal;
}
@font-face {
font-family: 'Lato';
src: url('../fonts/Lato-BoldItalic.ttf');
font-weight: bold;
font-style: italic;
}

* {
	z-index: 0;
	font-family: "Lato", sans-serif;
	font-weight: normal;
	font-weight: 100;
	color: rgba(20,20,20,1);
	font-size: 18px;
	cursor: default;
}

html, body {
	width:100%;
	height:100%;
	/*overflow-x: hidden;*/
}

body {
	margin:0;
	padding:0;
	font-family: 'Lato', sans-serif;
}

h3 {
	margin: 0;
}
.gtext {
	color: rgba(87,87,81,1);
}
p {
	margin: 0;
	color: rgba(20,20,20,1);
}

.lbg {
	background: rgba(246, 214, 113, 1);
}

.gbg {
	background: rgba(230, 230, 230, 1);
}

.hbox {
	padding: 10px 20px;
	width: 100%;
	margin: auto;
	text-align: center;

}

.bbox {
	text-align: center;
}

.bbox a {
	font-size: 24px;
	/*margin-top: 50px;*/
}

.bbox h1 {
	font-size: 106px;
	display: block;
	margin-bottom: 30px;
}
.bbox h1 small {
	font-size: 30px;
	display: block;
}
.price {
	width: 80%;
	padding: 0;
	margin: auto;
	border: 1px solid rgba(87,87,81,1);
}

header {
	
	width: 100%;
	/*background: rgba(27, 22, 102, 1);*/
	color: white;
	padding: 10px 0;
	min-height: 135px;
}

header strong {
	font-size: 20px;
}

header p {
	font-size: 16px;
}

a {
	text-decoration: none;
	color: rgba(247,148,29,1);
	font-weight: bold;
	cursor: pointer;
}
a:hover, a:active, a:focus {
	text-decoration: none;
	color: rgba(246, 214, 113, 1);
	/*background: rgba(246, 214, 113);*/
	/*text-shadow: 1px 1px 1px rgba(154, 143, 219, 1);*/
}

a:visited {
}
.dtext {
	color: rgba(214, 121, 7, 1) !important;
}


.bgsec {
	/*height: 500px;*/
	margin: 0;
	/*padding: 10% 0;*/
	background: url(../img/2028.jpg) no-repeat 0 0 / cover;

}

.white-gradient {
	height: 90%;
	margin: 2% 0;
	vertical-align: middle;
	padding-top: 3%;
	background: -moz-linear-gradient(left,  rgba(255,255,255,0) 0%, rgba(255,255,255,1) 100%);
	background: -webkit-linear-gradient(left,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,0) 0%,rgba(255,255,255,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );

}


footer {
	color: white;
	background: rgba(87,87,81,1);
	padding: 30px 0;
}

footer * {
	color: rgba(240,240,240,1);
	font-weight: 100;
}

footer strong {
	color: white;
}

footer .row > [class^="col"] {
	border-right: 1px solid white;
}

footer .row > [class^="col"] strong {
	padding: 20px;
}

footer ul li:hover:not(.nohover), footer strong[data-ref]:hover {
	text-shadow: 1px 1px 1px rgba(246, 214, 113, 1);
}
ul li.nohover {
	opacity: .6; cursor: default;
}
ul {
	margin: 0;

}

ul li {
    padding: 10px 0;
    font-size: 24px;
    font-weight: bold;
    /*color: black;*/color: rgba(87,87,81,1);
}

ul li span {
	color: rgba(247,148,29,1);
    font-size: 24px;
    font-weight: bold;
}

.showup1 {
	position: absolute;
	margin-left: 50%;
	opacity: 0;
	display: none;
}

.showup2 {
	position: absolute;
	margin-left: 15%;
	opacity: 0;
	display: none;
}

.view {
	display: none;
}

#view-1 {
	display: block;
}

.main-menu {
	/*background: rgba(154, 143, 219, 1);*/
	background: white;
}
.main-menu, .main-menu * {
	z-index: 999;
}
.main-menu ul {
	list-style: none;
	height: 60px;
}
.main-menu ul li {
	display: block;
	list-style: none;
	color: black;
	float: left;
	height: 20px;
	width: calc(100% / 5);
}
.main-menu ul li a {
	color: black;
	text-decoration: none;
	text-transform: uppercase;
	display: block;
	/*height: 20px;*/
	padding: 5px 15px;
	line-height: 50px;
	font-size: 16px;
	font-weight: bold;
	text-align: center;
}

.main-menu ul li a:hover {
	text-decoration: none;
	background: rgba(246, 214, 113, 1);
	/*background: rgba(75, 85, 198, 1);*/
}

.thumb-text {
	color: white;
	background: rgba(27, 22, 102, 1);
	width: 100%;
	height: 40px;
	line-height: 40px;
	display: block;
	font-size: 20px;

	text-align: center;
	/*cursor: default;*/
}

.view .locations .thumb-text {
	height: 60px;
	line-height: 30px;
}

.thumb-text a {
	font-size: 16px;
}

.hover-text {
	background: rgba(246, 214, 113, 1);
	height: 0;
	width: 110%;
	padding-top: 110%;
	border-radius: 100%;
    cursor: pointer;
    opacity: 0;
    margin: -105% -5%;
    transition: 0.3s ease;
}

.hover-text:hover {
	opacity: 1;
	background: rgba(246, 214, 113, 0.7)
}

.hover-text .t {
	margin-top: -85%;
	/*line-height: 100%;*/
	text-align: center;
	padding: 40px;
	font-weight: bold;
	font-size: 48px;
}



#dropp {
	border: 4px dashed rgba(247,148,29,1);
	margin: 20px auto;
	padding: 20px;
	cursor: pointer;
	width: 60%;
}

.dropp-ftext, .dropp-ftext * {
	cursor: pointer;
}

.zoom {
	position: absolute;
    font-size: 50px;
    margin-top: -340px;
    margin-left: -40px;
    color: white;
    background: rgba(247,148,29,1);
    padding: 20px;
    border-radius: 100%;
    cursor: pointer;
}

.form-control {
	font-size: 20px;
}
input, textarea {
	cursor: text;
}

#view-panel {
	
}

#view-register, #view-signin {
	background: url(../img/7722.jpg) no-repeat 0 0 / cover;
}

.panel {
	border-top: 1px solid rgba(180,180,180,1);
	min-height: 450px;
	display: flex;
	margin-bottom: 0px;
}

.panel .left-side .btn-appointment{
	display: block;
	margin: 20px auto;
	width: 60%;
}

.panel .left-side {
	padding: 20px;
	border-right: 1px solid rgba(180,180,180,1);
	background: url(../img/buildings.jpg) no-repeat 0 0 / cover;
}

.panel .right-side {
	text-align: center;
}

#serv1 {
	background: url(../img/serv1.jpg) no-repeat center / cover;
}

#serv2 {
	background: url(../img/serv2.jpg) no-repeat center / cover;
}

.weather > * {
	float: left;
}

.weather img {
	padding-left: 15px;
}

.slider {
	margin: 0;
	padding: 0;
	min-height: 600px;
	width: 100%;
}

.slider.sml {

	min-height: 300px;
}
.slg {
	margin-top: -35px;
    height: 60px;
        margin-left: 55%;
}


.slider .img {
	width: 100%;
	height: 600px;
}

.slider.sml .img {
	height: 300px;
}

.slider.sml .img {
	background-position: center top !important;
}


.controls {
	position: absolute;
    margin-top: 250px;
    width: 100%;

}
.sml .controls {
	    margin-top: 120px;
    width: 100%;
    padding: 0 3%;
}
.controls img {
	height: 60px;
    /* position: absolute; */
    margin: 25px;
    background: rgba(0,0,0,0.5);
    padding: 15px;
    border-radius: 100%;
    cursor: pointer;
}
.sml .controls img {
	height: 40px;
	padding: 10px;
	margin: 5px;
}
.controls .right {
	float: right;
}
.controls .left {
	float: left;
}


.banner {
	width: 100%;
	padding: 0;
	margin: 0;
	height: 600px;
}

#homebg { background: url(../img/mainbg.jpg) no-repeat top center / cover;}
#pricingbg { background: url(../img/pricingbg.jpg) no-repeat top center / cover;}
#howbg { background: url(../img/howbg.jpg) no-repeat top center / cover;}
#contactbg { background: url(../img/contactbg.jpg) no-repeat top center / cover;}
#examplesbg { background: url(../img/examplesbgblur.jpg) no-repeat top center / cover;}


.uline {
	text-decoration: underline;
}
.bold {
	font-weight: bold;
}
#prime {
	overflow: hidden;

}

.darklay {
	background: rgba(27, 22, 102, 1);
	color: white;
	font-family: "LatoLight";
	font-weight: lighter;
	font-size: 32px;
	margin-top: -25px;
	padding: 40px 100px;
	text-align: center;
}


.logos {
	height: 110px;
	padding: 20px;
}

.blogo {
	display: inline-block;
	height: 80px;
	width: auto;
	margin: 0 30px;
	/*opacity: .5;*/
}


.close {
	opacity: 0.8 !important;
}
.fa-times {
	color: rgba(27, 22, 102, 1);
}


.white {
	color: white;
}



.location-details {
	width: 100%;
	background: -moz-linear-gradient(left,  rgba(255,255,255,1) 0%, rgba(255,255,255,1) 1%, rgba(255,255,255,1) 3%, rgba(255,255,255,1) 51%, rgba(255,255,255,0) 100%);
	background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(255,255,255,1) 3%,rgba(255,255,255,1) 51%,rgba(255,255,255,0) 100%);
	background: linear-gradient(to right,  rgba(255,255,255,1) 0%,rgba(255,255,255,1) 1%,rgba(255,255,255,1) 3%,rgba(255,255,255,1) 51%,rgba(255,255,255,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 );

}

.location-details {
	padding: 20px 30px;
	margin-top: 80px;
}
.location-details  h1 {
	font-size: 28px;
}
.location-details  h4, .location-details a {
	color: rgba(41, 27, 59, 1);
	text-decoration: none;
}
.location-details a:hover {
	color: rgba(154, 143, 219, 1);
	text-decoration: none;
}
#view-locations .col-md-4 {
	padding-left: 0;
}

#view-locations {
	padding-top: 0px;
}

.tab-pane[id^="serv-"] p{
	text-align: justify;
}

h1 {
	font-size: 52px;
	color: rgba(20,20,20,1);
	font-weight: bold;
}

.spacing {
	padding: 50px 0;
}
section {
	
}
.logo {
	width: 90%;
	height: auto;

}

.step {
	text-align: center;
}
.step[data-ref], .step[data-ref] * {
	cursor: pointer;
}
.step p {
	color: rgba(87,87,81,1);
	font-size: 22px;
	font-weight: bold;
}
.stepimg {
	min-height: 120px;
}
.stepimg img{
	width: 100px;
	height: auto;
}


.bubble {
	border: 4px solid rgba(247,148,29,1);
	border-radius: 100%;
	width: 100%;
	height: 0;
	cursor: pointer;
	padding-top: 100%;
	overflow: hidden;
}

.mini.bubble {
	border: none;
	background: rgba(246, 214, 113, 0.7);
	margin-left: -100%;
	margin-top: 100%;
}

.mini.bubble span {
	margin-top: -100%;
    padding-top: 25%;
    font-size: 30px;
    display: block;
    font-weight: bold;
    text-align: center;
}

[data-ref] {
	cursor: pointer;
}


#myModal *{
	z-index: 101;
}

.modal-open {
	z-index: 100;
}

.modal-backdrop.in {
	/*z-index: -1;*/
	background: rgba(246, 214, 113);
	filter: alpha(opacity=50);
	    opacity: .5;
}

.modal-header {
	border-bottom: 1px solid black;
}
.modal-dialog {
	width: 60%;
	/*border: 2px solid white;*/
	/*border-radius: 10px;*/
}

.subtitle {
	background: none;
	cursor: default;
	border: none;
	/*border-bottom: 1px solid lightgrey;*/
	color: rgba(27, 22, 102, 1);
	text-transform: uppercase;
	width: 90%;
	margin: 15px 0;
	font-weight: bold;
}



.video {
	/*position: fixed;*/
	left: 27vw;
	top: 10vh;
	/*width: 50vw;*/
	/*height: 62vh;*/
	border: none;
	z-index: 10;
	background: black;

	/*display: none;*/
}


.video-container {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}

.video-container .video {
	 position: absolute;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 100% !important;
}

.vid .video {
	width: 100% !important;
	height: 100% !important;
	    vertical-align: middle;
}

.vtext {
	padding: 50px;
	min-height: 50vh;
}

.vtext p {
	font-size: 22px;
	margin-top: 20px;
}

.vtext:not(.dtext) * {
	color: white;
}
.vtext:not(.dtext) {
	/*background: rgba(75, 85, 198, 1);*/
	background: rgba(94, 74, 166, 1);
}

.meet .row {
	display: flex;
}

.meet .row > .col-md-6 {
	align-items: stretch;
}




.btn-appointment {
	padding: 6px 20px 10px;
	color: white;
	text-align: center;
	/*font-weight: bold;*/
	font-size: 20px;
	border: none;
	background: rgba(247,148,29,1);
	cursor: pointer;
}

.btn-appointment:hover {
	background: rgba(246, 214, 113, 1);
}


.llay {
	background: rgba(154, 143, 219, 0.7);
	padding: 20px 20px;
}

.dlay {
	background: rgba(41, 27, 59, 0.7);
	padding: 20px 20px;
}

.dlay h1, .dlay .slogan{
	color: rgba(154, 143, 219, 1);
}




.division {
	width: 100%;
	height: 20px;
	background: rgba(41, 27, 59, 1);
	border-top: 10px solid rgba(72, 58, 124, 1);
}

i {
	color: rgba(214, 121, 7, 1);
}

.bbox .description {
	text-align: left;
	padding: 20px 40px;
}
.bbox .description span {
	font-size: 22px;
	display: block;
}

footer i {
	color: white;
	margin-left: 10px;
}


footer i:hover {
	color: rgba(246, 214, 113, 1);
}

.ltext {
	color: rgba(246, 214, 113, 1);
}
.btext {
	color: rgba(247,148,29,1);
}

.sm {
	height: 20px;
	width: 20px;
	border-radius: 100%;
	background: white;
	display: inline-block;
	text-align: center;
	/*padding-top: 7px;*/
	cursor: pointer;
}
.sm i {
	color: rgba(27, 22, 102, 1);
	pointer-events: none;
}

.sm i:hover {
	
	color: rgba(27, 22, 102, 1);
}

.smd {
	height: 40px;
	width: 40px;
	border-radius: 100%;
	background: rgba(27, 22, 102, 1);
	display: inline-block;
	text-align: center;
	/*padding-top: 7px;*/
	cursor: pointer;
}
.smd i {
	color: white;
	pointer-events: none;
	font-size: 22px;
	padding: 8px;
	display: block;
}

.smd i:hover {
	text-shadow: 1px 1px 1px rgba(154, 143, 219, 1);
	color: white;
}


#menuHover li ul{

	display: none;
}
.main-menu ul li ul{
	height: auto;
	padding: 0;
	/*border: 6px solid rgba(234, 194, 121, 1) !important;*/
	/*border-top: none;*/
	background: rgba(94, 74, 166, 1);
	transition: 0.3s all ease 0.1s;
	z-index: 9999;
}
.main-menu ul#menuHover:hover > li:hover > ul, #menuHover .dropdown:hover ul, #menuHover .dropdown:hover ul li, #menuHover .dropdown ul:hover {
	display: block;
	transition: 0.3s all ease 0.1s;
	z-index: 9999;
}

.main-menu ul li ul li{
	float: none;
	height: auto;
	width: 100%;
	background: rgba(94, 74, 166, 1);
	text-align: center;
	font-size: 20px;
	padding: 10px 0;
}
.main-menu #menuMobile li ul li{
	font-size: 14px;
	/*width: 50%;*/
	padding: 5px 0;
}

#menuMobile > li {
	font-size: 16px;
	
	border: 6px solid rgba(234, 194, 121, 1) !important;
}
#menuMobile > li > a {
	border-bottom: 2px solid rgba(234, 194, 121, 1);
	/*padding: 5px 0;*/
	line-height: 30px;
}
#menuMobile li ul{
	background: rgba(27, 22, 102, 1);
	border: none !important;
}

.main-menu ul li ul li{
	background: rgba(94, 74, 166, 1);
}

.main-menu ul li ul li:hover {
	background: rgba(154, 143, 219, 1);
}







.slider {
	margin: 0;
	padding: 0;
	min-height: 600px;
	width: 100%;
}

.slider.sml {

	min-height: 300px;
}
.slg {
	margin-top: -35px;
    height: 60px;
        margin-left: 55%;
}


.slider .img {
	width: 100%;
	height: 0px;
}

.slider.sml .img {
	height: 0px;
}

.slider.sml .img {
	background-position: center top !important;
}


.controls {
	position: absolute;
    margin-top: 150px;
    width: 100%;

}
.sml .controls {
	    margin-top: 120px;
    width: 100%;
    padding: 0 3%;
}
.controls img {
	height: 60px;
    /* position: absolute; */
    margin: 25px;
    background: rgba(0,0,0,0.5);
    padding: 15px;
    border-radius: 100%;
    cursor: pointer;
}
.sml .controls img {
	height: 40px;
	padding: 10px;
	margin: 5px;
}
.controls .right {
	float: right;
}
.controls .left {
	float: left;
}


#slider1 .img {
	width: 500px;
	margin: 0 auto;

}

#slider1 {
	position: absolute;
	z-index: 999;
	margin-top: -500px;
}

.slider #sld1 { background: url(../img/afterbefore.jpg) no-repeat top center / cover;}
.slider #sld2 { background: url(../img/beforeafter.jpg) no-repeat top center / cover;}
.slider #sld3 { background: url(../img/serv1.jpg) no-repeat top center / cover;}


















/*
.dz-preview {
	margin: auto;
    width: 80%;
    text-align: center;
}


*/




.dropzone, .dropzone * { box-sizing: border-box; }

.dropzone { min-height: 150px; border: 2px solid rgba(0, 0, 0, 0.3); background: transparent; padding: 54px 54px; }
.dropzone.dz-clickable { cursor: pointer; }
.dropzone.dz-clickable * { cursor: default; }
.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * { cursor: pointer; }
.dropzone.dz-started .dz-message { display: none; }
.dropzone.dz-drag-hover { border-style: solid; }
.dropzone.dz-drag-hover .dz-message { opacity: 0.5; }
.dropzone .dz-message { text-align: center; margin: 2em 0; }
.dropzone .dz-preview { position: relative; display: inline-block; vertical-align: top; margin: 16px; min-height: 100px; }
.dropzone .dz-preview:hover { z-index: 1000; }
.dropzone .dz-preview:hover .dz-details { opacity: 1; }
.dropzone .dz-preview.dz-file-preview .dz-image { border-radius: 20px; background: #999; background: linear-gradient(to bottom, #eee, #ddd); }
.dropzone .dz-preview.dz-file-preview .dz-details { opacity: 1; }
.dropzone .dz-preview.dz-image-preview { background: transparent; }
.dropzone .dz-preview.dz-image-preview .dz-details { -webkit-transition: opacity 0.2s linear; -moz-transition: opacity 0.2s linear; -ms-transition: opacity 0.2s linear; -o-transition: opacity 0.2s linear; transition: opacity 0.2s linear; }
.dropzone .dz-preview .dz-remove { font-size: 14px; text-align: center; display: block; cursor: pointer; border: none; }
.dropzone .dz-preview .dz-remove:hover { text-decoration: underline; }
.dropzone .dz-preview:hover .dz-details { opacity: 1; }
.dropzone .dz-preview .dz-details { z-index: 20; position: absolute; top: 0; left: 0; opacity: 0; font-size: 13px; min-width: 100%; max-width: 100%; padding: 2em 1em; text-align: center; color: rgba(0, 0, 0, 0.9); line-height: 150%; }
.dropzone .dz-preview .dz-details .dz-size { margin-bottom: 1em; font-size: 16px; }
.dropzone .dz-preview .dz-details .dz-filename { white-space: nowrap; }
.dropzone .dz-preview .dz-details .dz-filename:hover span { border: 1px solid rgba(200, 200, 200, 0.8); background-color: rgba(255, 255, 255, 0.8); }
.dropzone .dz-preview .dz-details .dz-filename:not(:hover) { overflow: hidden; text-overflow: ellipsis; }
.dropzone .dz-preview .dz-details .dz-filename:not(:hover) span { border: 1px solid transparent; }
.dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span { background-color: rgba(255, 255, 255, 0.4); padding: 0 0.4em; border-radius: 3px; }
.dropzone .dz-preview:hover .dz-image img { -webkit-transform: scale(1.05, 1.05); -moz-transform: scale(1.05, 1.05); -ms-transform: scale(1.05, 1.05); -o-transform: scale(1.05, 1.05); transform: scale(1.05, 1.05); -webkit-filter: blur(8px); filter: blur(8px); }
.dropzone .dz-preview .dz-image { border-radius: 20px; overflow: hidden; width: 120px; height: 120px; position: relative; display: inline-block; z-index: 10; }
.dropzone .dz-preview .dz-image img { display: block; }
.dropzone .dz-preview.dz-success .dz-success-mark { -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1); -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1); -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1); -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1); animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1); }
.dropzone .dz-preview.dz-error .dz-error-mark { opacity: 1; -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); }
.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark { pointer-events: none; opacity: 0; z-index: 500; position: absolute; display: none; top: 50%; left: 50%; margin-left: -27px; margin-top: -27px; }
.dropzone .dz-preview .dz-success-mark svg, .dropzone .dz-preview .dz-error-mark svg { display: block; width: 54px; height: 54px; }
.dropzone .dz-preview.dz-processing .dz-progress { opacity: 1; -webkit-transition: all 0.2s linear; -moz-transition: all 0.2s linear; -ms-transition: all 0.2s linear; -o-transition: all 0.2s linear; transition: all 0.2s linear; }
.dropzone .dz-preview.dz-complete .dz-progress { opacity: 0; -webkit-transition: opacity 0.4s ease-in; -moz-transition: opacity 0.4s ease-in; -ms-transition: opacity 0.4s ease-in; -o-transition: opacity 0.4s ease-in; transition: opacity 0.4s ease-in; }
.dropzone .dz-preview:not(.dz-processing) .dz-progress { -webkit-animation: pulse 6s ease infinite; -moz-animation: pulse 6s ease infinite; -ms-animation: pulse 6s ease infinite; -o-animation: pulse 6s ease infinite; animation: pulse 6s ease infinite; }
.dropzone .dz-preview .dz-progress { opacity: 1; z-index: 1000; pointer-events: none; position: absolute; height: 16px; left: 50%; top: 50%; margin-top: -8px; width: 80px; margin-left: -40px; background: rgba(255, 255, 255, 0.9); -webkit-transform: scale(1); border-radius: 8px; overflow: hidden; }
.dropzone .dz-preview .dz-progress .dz-upload { background: #333; background: linear-gradient(to bottom, #666, #444); position: absolute; top: 0; left: 0; bottom: 0; width: 0; -webkit-transition: width 300ms ease-in-out; -moz-transition: width 300ms ease-in-out; -ms-transition: width 300ms ease-in-out; -o-transition: width 300ms ease-in-out; transition: width 300ms ease-in-out; }
.dropzone .dz-preview.dz-error .dz-error-message { display: block; }
.dropzone .dz-preview.dz-error:hover .dz-error-message { opacity: 1; pointer-events: auto; display: none;}
.dropzone .dz-preview .dz-error-message { pointer-events: none; z-index: 1000; position: absolute; display: block; display: none; opacity: 0; -webkit-transition: opacity 0.3s ease; -moz-transition: opacity 0.3s ease; -ms-transition: opacity 0.3s ease; -o-transition: opacity 0.3s ease; transition: opacity 0.3s ease; border-radius: 8px; font-size: 13px; top: 130px; left: -10px; width: 140px; background: #be2626; background: linear-gradient(to bottom, #be2626, #a92222); padding: 0.5em 1.2em; color: white; }
.dropzone .dz-preview .dz-error-message:after { content: ''; position: absolute; top: -6px; left: 64px; width: 0; height: 0; border-left: 6px solid transparent; border-right: 6px solid transparent; border-bottom: 6px solid #be2626; }
#dropzone { margin-bottom: 3rem; }

.dropzone { border: 6px dashed rgba(247,148,29,1); border-radius: 5px; background: transparent; width: 60%; margin: 0 auto 40px; }
.dropzone .dz-message { font-weight: 400; }
.dropzone .dz-message .note { font-size: 0.8em; font-weight: 200; display: block; margin-top: 1.4rem; }



.pc1 {
	display: block; margin: auto; width: 1200px;
}

.pc2 {
	display: block; margin: auto; padding-left: 50px; margin-top: -600px;
	height: 600px;
}

.beforeafter{
	width: 600px; margin-top: -950px; margin-left: -70px;
}

@media (max-width: 991px) {
	.view {
		/*display: block;*/
	}
	header .locations {
		text-align: center;
	}


}

@media (max-width: 991px) and (min-width: 768px) {

}

@media (max-width: 767px) {

	.pc1 {
		width: 340px;
	}

	.pc2 {
		height: auto;
		width: 115%;
		padding-left: 0;
		margin-top: 0;
	}

	#examplesbg {
		height: 300px;
	}

	#slider1 {
		margin-top: -220px;
	}

	#slider1 .img {
	    width: 223px;
	    /* margin-left: 20px; */
	    margin: 0 auto;
	    margin-left: 23%;
	}

	.beforeafter{
		margin-top: -285px;
		    margin-left: 0px;
		    width: 180px;
	}

	.zoom {
		margin-top: -100px;
		    margin-left: -40px;
	}

	.modal-dialog {
		width: 95%;
	}

	footer .row > [class^="col"] {
		border: none;
	}

	
	.banner {
		height: 200px;
	}

	.step {
		margin-top: 30px;
	}

	.dropzone {
		width: 80%;
	}


	#menuMobile {
		padding: 0;
	}
	#menuMobile > li {		
		border: none !important;
		width: 100%;
		    height: 100%;
	}


	.view h1 {
		padding: 0 !important;
		font-size: 28px !important;
	}

	.view, .slider, .slider:not(#slider1) .img {
		min-height: auto !important;
		height: auto;
	}

	.slg {
		    height: 45px;
    	margin-left: calc(50% - 180px);
	}
	h3 {
		font-size: 22px;
	}
	p {
		font-size: 18px !important;
	}
	.logos {
		height: auto;
	}
	
	.blogo {
		height: 60px;
		width: auto;
		padding: 0;
	}
	#promisebg h1 {
		padding: 20px !important;
		padding-top: 50px !important;

		background: rgba(255,255,255,0.5);
		font-size: 22px;
	}
	.promise ul {
		padding-left: 0 !important;
	}
	.promise ul li {
	    font-size: 18px !important;
	    padding: 10px 0 !important;
	}

	.promise-tabs .tab-content {
	    padding: 30px 30px !important;
	}

	.nav-tabs>li {
		width: 100% !important;
	}
	.nav-tabs>li>a {
	    font-size: 26px !important;
	    padding: 15px 20px !important;
	}
	
	footer ul li {

	}
	footer .row > * {
		/*min-height: auto !important;*/
    	padding: 15px 20px;
	}

	#journeybg {
	    background: url(../img/journeybg.jpg) no-repeat right center / cover !important;
	    padding-top: 200px !important;
	    padding-left: 10px !important;
	    padding-bottom: 20px !important;
	}

	#journeybg * {
		background: rgba(27, 22, 102, 0.6);
	}

	.history {
		margin: 0 !important;
	}

	#view-community .slider {
		min-height: 200px !important;
		    width: 100%;
	}
	.controls {
		margin-top: 100px !important;
	}

	.slider .img {
		height: 300px;
	}

	#communitybg {
		background-position: center center !important;
	}

	.controls img {
	    height: 40px !important;
	    margin: 25px !important;
	    padding: 10px !important;
	}

	.community {
		padding: 0 !important;
	}

	.video-container {
		margin: 30px 0 !important;
	}

	#employmentModal .modal-dialog {
		width: 90% !important;

	}

	#employmentModal .modal-content {
		    padding: 20px 10px !important;
	}

	#view-meet #meetbg {
		padding-top: 150px !important;
    	padding-bottom: 20px !important;
	}

	.meet .row {
		display: block !important;
	}
	#view-services h1 {
	    background: rgba(255,255,255,0.5) !important;
	    font-size: 22px !important;
	    padding: 20px !important;
	}
	.service {
		    margin-top: 20px;
	}

	#locationsbg > div > div > h1 {
		background: rgba(255,255,255,0.5) !important;
		font-size: 22px !important;
		padding: 20px !important;
	}
	#locationsbg {
	    background: url(../img/mckinney.jpg) no-repeat right top / cover;
	}

	#slider2, #slider2 .img {
		min-height: 300px !important;
	}

	#view-contact .slider h1 {
		padding-top: 200px !important;
	}
	#view-contact .contact-schedule .slg {
		display: block;
		    margin-left: calc(50% - 180px) !important;
	}

	.contact-loc h1 {
		padding-top: 0 !important;
	}

	#view-optform h1 {
		font-size: 32px;
	}
	#view-optform h2 {

		font-size: 20px;


	}
}

@media (max-width: 400px) {

	header .locations .lc{
		width: 100% !important;
		padding-bottom: 20px;
	}
	.slg {
		display: none;
	}
	.blogo {
		height: auto;
		width: 90%;
		margin: 0 30px;
		padding: 30px 30px 0 0;
	}
}




/*

brand purple
rgba(75, 85, 198, 1);

light purple
rgba(154, 143, 219, 1);

dark purple
rgba(27, 22, 102, 1);

@media (max-width: 767px) XS
@media (max-width: 991px) and (min-width: 768px) SM
*/